body
{
color: antiquewhite;
background-color: rgb(59, 139, 169);
}

.heading 
{
    width: 80%;
    font-size: 22px;
}

.name_of_objects, #result_object_name, #result_object_accuracy
{
color:white;
}

#camera 
{
    border: powderblue;
    width: 350px;
    height: 300px;
}

